<div class="header">
  <h1>Study Rooms</h1>

  <div class="buttons">
    <%= link_to '新規登録', new_user_registration_path, class: 'button' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'button' %>
  </div>
</div>
